body {
  font-family:"Cormorant",serif;
}

/* Home Page Style */
.ww-home-page {
  background: url("../images/home-img.jpeg") no-repeat center center;
  background-size: cover;
  background-position: right 35% bottom 75%;;
  object-fit: contain;
  max-width: 100%;
  height: 100vh;
  min-height: 480px;
  max-height: 980px; }
  .ww-home-page .ww-wedding-announcement {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    height: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px; }
    .ww-home-page .ww-wedding-announcement .ww-announcement-container {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      max-width: 6000px;
      text-align: left;
      margin-top: 8vmin;
      margin-bottom: 12vmin;
      margin-left: 1.5vmax;
      z-index: 999; }
    .ww-home-page .ww-wedding-announcement .ww-couple-name {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      font-family: "Kapakana", cursive;
      position:relative;
      font-size: 10vmax; }
      .ww-home-page .ww-wedding-announcement .ww-home-details {
        flex-grow: 1;
        flex-shrink: 1;
        color: #fffcc9;
        flex-basis: auto;
        font-family: "Cormorant", serif;
        }

.ww-home-page:before {
  content: "";
  background-color: rgba(245, 138, 119, 0.007);
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 480px;
  max-height: 980px;
  position: absolute;
  left: 0;
  top: 0;
}

/* Nav Bar Style */
.ww-nav-bar .nav-item {
  font-family: "Cormorant",serif;
  font-size: 18px;
  padding: 5px 0 5px 16px;
  font-weight: 500;
}

/* Wedding Event Style */
.ww-wedding-event ul {
  list-style: none;
  padding-left: 0;
}

/* Photo Gallery Style */
.ww-photo-gallery .ww-category-filter a {
  display: inline-block;
  margin: 0 10px 6px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
}

.ww-photo-gallery .ww-gallery {
  min-height: 500px;
}

.ww-photo-gallery .card-columns .card {
  border: none;
  margin-bottom: 15px;
  border-radius: none;
}

@media (max-width: 992px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 1;
    column-count: 1;
  }
}

/* RSVP Style */
.ww-rsvp-detail {
  background: url("../images/rsvp-img.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  object-fit: contain;
  max-width: 100%;
  position: relative;
}

.ww-rsvp-detail:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* Google form Style*/
.responsive-iframe-container {
  position: relative;
  padding-bottom: 140%; /* Adjust based on your form's height */
  height: 0;
  overflow: hidden;
}
.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 65%;
  margin: auto;
  height: 100%;
}

/* Footer Style */
.ww-footer a.credit {
  font-family: "Cormorant", serif;
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

/* Common Style */
.ww-title {
  font-family: "Felipa",cursive;
}

.ww-section {
  padding: 100px 0;
  font-family: "Cormorant",serif;
}

.btn-primary {
  color: #fff;
}

.btn-outline-primary:hover {
  color: #fff;
}
